doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/main.css")
    body
        h1 Work!